#root {
  background: #f6f6f3;
}

.mantine-NavLink-label {
  font-size: 16px !important;
}

.mantine-NavLink-root:hover {
  background-color: #f1f5ff;
}

.mantine-Menu-itemLabel {
  font-size: 16px;
}

.mantine-Menu-label {
  color: red;
}

.mantine-NavLink-children .mantine-NavLink-label {
  font-size: 14px !important;
}
